.itemD{
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-around; 
}

.det{
    width: 700px;
    padding: 10px;
}

.imgD{
    height: 500px;
    width: 380px;
    margin: auto;

    border-radius: 32px 0px 0px 32px;
    background: #ffffff;
    box-shadow:  29px 29px 56px #bababa,
             -29px -29px 56px #ffffff;

    display: flex;
}

.imgD img{
    width: 380px;
    height: 500px;
    border-radius: 32px 0px 0px 32px;
    border-right: 1px solid rgba(107, 107, 107, 0.5);
}

.titDet{
    padding: 10px;
    margin-left: 10px;
}

.titDet h1{
    font-size: 28px;
    text-align: center;
}

.titDet h2{
    font-size: 24px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(107, 107, 107);
}

font{
    font-size: 18px;
    
}

.next{
    background-color: rgb(0, 184, 184);
}

.next:hover{
    background-color: rgb(0, 148, 148);
}