.detcont{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 40px;

    border-radius: 32px;
    background: #ffffff;
    box-shadow:  29px 29px 56px #bababa,
             -29px -29px 56px #ffffff;

}

