.cart{
    width: 50px;
    height: 30px;
    
    display: flex;
    border: 1px solid black;
    border-radius: 5px;

    color: black;
}

.cartp{
    width: 40px;
    height: 30px;
    padding: 2px;
    text-decoration: none;
}


.cartcant{
    width: 10px;
    height: 30px;
    height: auto;
    margin-top: 2px;
    text-decoration: none;
}

a:hover{
    color: black;
}

a{
    text-decoration: none;
}