.card{
    height: 500px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;

    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
}

.img{
    height: 250px;
    width: 280px;
    margin: auto;

    border-radius: 10px;

    display: flex;
}

.img img{
    width: 280px;
    height: 230px;
    border-radius: 10px;
}

.card-body{
    height: auto;
    margin-bottom: 0px;
    padding: 0px;
    margin: 0px;
}

.card-body-nom{
    width: auto;
    height: auto;


    display: flex;
    justify-content: center;
}

.card-body-des{
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
}