.cart{
    width: auto;
    height: 30px;
    
    display: flex;
    justify-content: center;
    border-radius: 50%;

    color: rgb(107, 107, 107);;
}

.cartp{
    width: auto;
    height: 30px;
    padding: 2px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
}


.cartcant{
    width: auto;
    height: 100px;
    height: auto;
    padding: 2px;

    text-decoration: none;

    display: flex;
    justify-content: right;
}

.cart:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(77, 233, 77);
}

a{
    text-decoration: none;
}