.prin{
    width: 100%;
    height: 1000px;

    background-image: url("../../../public/Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tit{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(107, 107, 107);
}

/* MOBILE */
@media screen and (max-width: 599px){
    .prin{
        width: 100%;
        height: 400px;
    }

    .tit img{
        width: 100px;
    }
    
    h1{
        font-size: 45px;
    }
}