.color{
    color: black;
}

.color:hover{
    color: rgba(0, 0, 0, 0.692);
}

#basic-nav-dropdown{
    color: black;
}

.title{
    font-size: 24px;
    margin-right: 20px;
}

.title:hover{
    color: rgba(0, 0, 0, 0.692);
}