.cant{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cant-nro{
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.butmen{
    width: 10%;
    height: 30px;

    font-size: 25px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: none;

    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.butmen:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

.cant-nro p{
    width: 10%;
    margin: 10px;

    display: flex;
    justify-content: space-evenly;
}

.butmas{
    width: 10%;
    height: 30px;

    font-size: 25px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: none;

    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.butmas:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

.cont p{
    width: 120px;
    height: 30px;
    margin: auto;
    background-color: transparent;

    font-size: 25px;
    color: rgb(0, 191, 255);
}


.cant-conf{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    width: 30%;
    height: 28px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: 1px solid rgb(0, 191, 255);
    border-radius: 5px;

}

.button:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

h5{
    font-size: 15px;
    color: rgb(107, 107, 107);
}