.button{
    width: 80%;
    height: 28px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: 1px solid rgb(0, 191, 255);
    border-radius: 5px;

}

.button:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

.cant{
    height: auto;
    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    display: flex;
    background-color: transparent;
}

.butmen{
    width: 20%;
    height: 30px;

    font-size: 25px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: none;

    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.butmen:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

.butmas{
    width: 20%;
    height: 30px;

    font-size: 25px;
    background-color: transparent;
    color: rgb(0, 191, 255);
    border: none;

    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.butmas:hover{
    color: white;
    background-color: rgb(0, 191, 255);
}

.cont{
    width: 60%;
    height: 30px;
    margin: auto;
    background-color: transparent;

    font-size: 25px;
    color: rgb(0, 191, 255);
}

h5{
    font-size: 15px;
    color: rgb(107, 107, 107);
}